<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <title>CREATE POST</title>
</head>

<body>
<div class="container">
    <h1><a th:href="@{'/'}">Home</a></h1>

    <form action="#"
          th:action="@{'/posts/create'}"
          th:object="${post}"
          method="post">
        <input type="hidden" th:field="*{blogUser}"/>
        <input type="hidden" th:field="*{createdAt}"/>
        <h2>Create New Post</h2>
        <div>
            <label for="create-title">Title</label>
            <input id="create-title" type="text" th:field="*{title}" placeholder="Title"/>
        </div>
        <div>
            <label for="create-body">Body</label>
            <textarea id="create-body" th:field="*{body}"></textarea>
        </div>

        <button type="submit">POST</button>

    </form>
</div>